<!--참고 사이트
https://blog.naver.com/PostView.naver?blogId=maestrois&logNo=222188488158
&categoryNo=45&parentCategoryNo=0&viewDate=&currentPage=1&postListTopCurrentPage=1&from=postView-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>

</head>
    <body id="body-pd">
        <div class="l-navbar" id="navbar">
            <nav class="nav">
                <div>
                    <div class="nav__brand">
                        <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                    </div>
                    <div class="nav__list">
<!--                        유저 정보 표기란은 다른 클래스 이용필요. collapse 부트스트랩 사이트 cdn하면 충돌 일어남 사용 주의-->
                        <span class="nav__link" href="/product/ex01">
                            <img th:src="@{/img/cat.png}" name="person-sharp" class="nav__big__icon"></img>
                            <span class="nav_name">
                                <p th:text="${session.User.name}"></p>
                                <p th:text="${session.User.role}"></p>
                            </span>
                        </span>
<!--                        active-->
                        <a href="/" class="nav__link">
                            <ion-icon name="home-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">home</span>
                        </a>

                        <div href="#" class="nav__link collapse">
                            <ion-icon name="person-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">인사/급여</span>

                            <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                            <ul class="collapse__menu">
                                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                                    <a href="/members/admin/new" class="collapse__sublink akorea">직원 등록</a>
                                </li>
                                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                                    <a href="/members/list" class="collapse__sublink akorea">직원 리스트</a>
                                </li>
                                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                                    <a href="/members/admin/paydetail" class="collapse__sublink akorea">직원 급여 등록</a>
                                </li>
                                <a th:href="@{'/admin/detail/' + ${session.User.id}}" class="collapse__sublink akorea">마이페이지</a>
                            </ul>
                        </div>
                        <div href="#" class="nav__link collapse">
                            <ion-icon name="cart-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">구매 관리</span>

                            <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                            <ul class="collapse__menu">
                                <a href="/buys/list" class="collapse__sublink akorea">거래처 조회</a>
                                <a href="/products/list" class="collapse__sublink akorea">상품 조회</a>
                                <a href="/buyEstimates/list" class="collapse__sublink akorea">견적서 조회</a>
                                <a href="/buyOrderSheets/list" class="collapse__sublink akorea">주문서 조회</a>
                            </ul>
                        </div>

                        <div href="#" class="nav__link collapse">
                            <ion-icon name="airplane-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">물류 관리</span>

                            <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                            <ul class="collapse__menu">
                                <a href="/section/list" class="collapse__sublink akorea">창고 관리</a>
                                <a href="/logistics/buyOrderSheet/list" class="collapse__sublink akorea">입하 관리</a>
                                <a href="/logistics/inWarehousing/list" class="collapse__sublink akorea">입고 관리</a>
                                <a href="/logistics/inventory/list" class="collapse__sublink akorea">재고 조회</a>
                                <a href="/logistics/sellerOrderSheet/list" class="collapse__sublink akorea">출하 관리</a>
                                <a href="/logistics/outWarehousing/list" class="collapse__sublink akorea">출고 관리</a>
                            </ul>
                        </div>

                        <div href="#" class="nav__link collapse">
                            <ion-icon name="hardware-chip-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">생산 관리</span>

                            <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                            <ul class="collapse__menu">
                                <a href="/materialDelivery/list" class="collapse__sublink akorea">자재 불출</a>
                                <a href="/productions/list" class="collapse__sublink akorea">실적 등록</a>
                            </ul>
                        </div>

                        <div href="#" class="nav__link collapse">
                            <ion-icon name="business-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">영업 관리</span>

                            <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                            <ul class="collapse__menu">
                                <a href="/sellers/list" class="collapse__sublink akorea">거래처 조회</a>
                                <a href="/sellerEstimates/list" class="collapse__sublink akorea">견적서 조회</a>
                                <a href="/sellerOrderSheets/list" class="collapse__sublink akorea">주문서 조회</a>
                            </ul>
                        </div>


                        <div href="#" class="nav__link collapse">
                            <ion-icon name="business-outline" class="nav__icon"></ion-icon>
                            <span class="nav_name">재무/회계</span>

                            <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                            <ul class="collapse__menu">
                                <a href="/financials/financial" class="collapse__sublink akorea">재무회계표</a>
                                <a href="/incomes/income" class="collapse__sublink akorea">손익계산서</a>
                                <a href="/transaction/form" class="collapse__sublink akorea">거래명세표</a>
                                <a href="/analyses/analysis" class="collapse__sublink akorea">데이터 분석</a>
                            </ul>
                        </div>
                    </div>
                    <a href="/members/logout" class="nav__link">
                        <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">Log out</span>
                    </a>
                </div>
            </nav>
        </div>
        <div layout:fragment="content">
        </div>
        <!-- IONICONS -->
        <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
        <!-- JS -->
        <script th:src="@{/js/main.js}" rel="stylesheet"></script>

    </body>
</html>