<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/sidebar}"
>
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>

    <script th:inline="javascript">
        // 지급항목 테이블에 입력된 숫자를 합산하는 함수
        var totalPrice3 = 0;
        function calculateTotal() {
            var inputs = document.querySelectorAll('#dataTable1 input[type="text"]');
            var totalPrice = 0;

            for (var i = 0; i < inputs.length; i++) {
            var value = parseFloat(inputs[i].value.replace(/,/g, '')); // 쉼표 제거 후 숫자로 변환
            if (!isNaN(value)) {
                totalPrice += value;
            }
            totalPrice3 = totalPrice;
            $('input[name="plusMoney"]').val(totalPrice3);
        }

        document.getElementById('totalPrice').textContent = formatNumber(totalPrice) + '원';
        updateDeductionTotal();
        }

        function formatNumber(number) {
            return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');

        }

        // 공제항목 테이블에 입력된 숫자를 합산하는 함수
        var totalPrice4 = 0;
        function calculateTotal2() {
            var inputs = document.querySelectorAll('#dataTable2 input[type="text"]');
            var totalPrice2 = 0;

            for (var i = 0; i < inputs.length; i++) {
            var value = parseFloat(inputs[i].value.replace(/,/g, '')); // 쉼표 제거 후 숫자로 변환
            if (!isNaN(value)) {
                totalPrice2 += value;
            }
            totalPrice4 = totalPrice2;
            $('input[name="minusMoney"]').val(totalPrice4);
        }

        document.getElementById('totalPrice2').textContent = formatNumber2(totalPrice2) + '원';
        updateDeductionTotal();
        }

        function formatNumber2(number) {
            return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        }

        // 차감지급액 업데이트 함수
        function updateDeductionTotal() {
        var deductionTotal = totalPrice3 - totalPrice4;
        $('input[name="TotalMoney"]').val(deductionTotal);
        document.getElementById('deductionTotal').textContent = formatNumber3(deductionTotal) + '원';
        }

        function formatNumber3(number) {
            return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        }
    </script>

    <script>
      function sweetAlert(event) {
            event.preventDefault(); // 폼 제출 기본 동작 중지

            return new Promise((resolve) => {
                Swal.fire({
                    title: '등록 하시겠습니까?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#4e73df',
                    cancelButtonColor: '#6e7881',
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancel'

                }).then((result) => {
                    if (result.isConfirmed) {
                        // MyDTO 객체 생성
                        const totalPrice3 = parseFloat(document.getElementById('totalPrice').textContent.replace(/[^0-9.-]+/g, '')); // totalPrice3 값 가져오기
                        const totalPrice4 = parseFloat(document.getElementById('totalPrice2').textContent.replace(/[^0-9.-]+/g, '')); // totalPrice4 값 가져오기
                        const deductionTotal = totalPrice3 - totalPrice4;

                        const myDTO = {
                            salary: document.getElementById('salary').value,
                            bonus: document.getElementById('bonus').value,
                            nightPay: document.getElementById('nightPay').value,
                            foodPay: document.getElementById('foodPay').value,
                            carPay: document.getElementById('carPay').value,
                            goInsurance: document.getElementById('goInsurance').value,
                            gunInsurance: document.getElementById('gunInsurance').value,
                            sanInsurance: document.getElementById('sanInsurance').value,
                            kukInsurance: document.getElementById('kukInsurance').value,
                            incomeTax: document.getElementById('incomeTax').value,
                            localTax: document.getElementById('localTax').value,
                            plusMoney: totalPrice3,
                            minusMoney: totalPrice4,
                            TotalMoney: deductionTotal

                        };

                        // 유효성 검사
                        const errors = validateMyDTO(myDTO);
                        if (errors.length > 0) {
                            // 오류 메시지 출력
                            Swal.fire({
                                title: 'Error',
                                icon: 'error',
                                html: errors[0],
                                confirmButtonColor: '#4e73df'
                            });
                        } else {
                            Swal.fire({
                                title: 'Completed!',
                                icon: 'success',
                                confirmButtonColor: '#4e73df'
                            }).then(() => {
                                // 폼을 수동으로 제출
                                event.target.form.submit();
                            });
                        }
                    }
                });
            });
        }


        // MyDTO 객체의 유효성 검사 함수
        function validateMyDTO(myDTO) {
            const errors = [];

            // 각 필드에 대한 유효성 검사
            if (!myDTO.salary) {
                errors.push('기본급을 입력해 주세요.');
            }else if (isNaN(myDTO.salary) || myDTO.salary.trim() === ''){
                errors.push('기본급을 숫자로 입력해 주세요.');
            }

            if (!myDTO.bonus) {
                errors.push('상여금을 입력해 주세요.');
            }else if (isNaN(myDTO.bonus) || myDTO.bonus.trim() === ''){
                errors.push('상여금을 숫자로 입력해 주세요.');
            }

            if (!myDTO.nightPay) {
                errors.push('야근수당을 입력해 주세요.');
            }else if (isNaN(myDTO.nightPay) || myDTO.nightPay.trim() === ''){
                errors.push('야근수당을 숫자로 입력해 주세요.');
            }

            if (!myDTO.foodPay) {
                errors.push('식비를 입력해 주세요.');
            }else if (isNaN(myDTO.foodPay) || myDTO.foodPay.trim() === ''){
                errors.push('식비를 숫자로 입력해 주세요.');
            }

            if (!myDTO.carPay) {
                errors.push('차량지원금을 입력해 주세요.');
            }else if (isNaN(myDTO.carPay) || myDTO.carPay.trim() === ''){
                errors.push('차량지원금을 숫자로 입력해 주세요.');
            }

            if (!myDTO.goInsurance) {
                errors.push('고용보험비를 입력해 주세요.');
            }else if (isNaN(myDTO.goInsurance) || myDTO.goInsurance.trim() === ''){
                errors.push('고용보험비를 숫자로 입력해 주세요.');
            }

            if (!myDTO.gunInsurance) {
                errors.push('건강보험비를 입력해 주세요.');
            }else if (isNaN(myDTO.gunInsurance) || myDTO.gunInsurance.trim() === ''){
                errors.push('건강보험비를 숫자로 입력해 주세요.');
            }

            if (!myDTO.sanInsurance) {
                errors.push('산재보험비를 입력해 주세요.');
            }else if (isNaN(myDTO.sanInsurance) || myDTO.sanInsurance.trim() === ''){
                errors.push('산재보험비를 숫자로 입력해 주세요.');
            }

            if (!myDTO.kukInsurance) {
                errors.push('국민연금비를 입력해 주세요.');
            }else if (isNaN(myDTO.kukInsurance) || myDTO.kukInsurance.trim() === ''){
                errors.push('국민연금비를 숫자로 입력해 주세요.');
            }

            if (!myDTO.incomeTax) {
                errors.push('소득세를 입력해 주세요.');
            }else if (isNaN(myDTO.incomeTax) || myDTO.incomeTax.trim() === ''){
                errors.push('소득세를 숫자로 입력해 주세요.');
            }

            if (!myDTO.localTax) {
                errors.push('지방소득세를 입력해 주세요.');
            }else if (isNaN(myDTO.localTax) || myDTO.localTax.trim() === ''){
                errors.push('지방소득세를 숫자로 입력해 주세요.');
            }

            if (!myDTO.plusMoney) {
                errors.push('지급총액을 입력해 주세요.');
            }

            if (!myDTO.minusMoney) {
                errors.push('공제총액을 입력해 주세요.');
            }

            if (!myDTO.TotalMoney) {
                errors.push('차감지급액을 입력해 주세요.');
            }
        return errors;
        }
    </script>

   <style>
        td {
            text-align: center;
        }
        .my-table {
            width: 50px;
            height: 50;
            padding: 10px;
            margin: 20px;
        }
    </style>
</head>

<div class="content" layout:fragment="content">
  <body class="bg-gradient-primary">
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-2">
      <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary" style="text-align: center;">급여명세서</h4>
      </div>
      <div class="row">

        <div class="col-lg-6 d-none d-lg-block">
          <div class="p-52" style="text-align:right;">
            <form action="" role="form" method="post" th:object="${memberPayDetailDto}">
              <table class="table-bordered dataTable" cellspacing="0" role="grid"  style="width: 490px;">
                <tbody>
                <tr>
                  <td class="text-primary font-weight-bold" style="vertical-align: middle; width:150px;">사번</td>
                  <td style="text-align:center;"><label th:text="*{id}"></label></td>
                </tr>
                <tr>
                  <td class="text-primary font-weight-bold" style="vertical-align: middle; width:150px;">이름</td>
                  <td style="text-align:center;"><label th:text="*{name}"></label></td>
                </tr>
                <tr>
                  <td class="text-primary font-weight-bold" style="vertical-align: middle; width:150px;">생년월일</td>
                  <td style="text-align:center;"><label th:text="*{birth}"></label></td>
                </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="p-52" style="text-align:right;">
            <form action="" role="form" method="post" th:object="${memberPayDetailDto}">
              <table class="table-bordered dataTable" cellspacing="0" role="grid"  style="width: 490px;">
                <tbody>
                <tr>
                  <td class="text-primary font-weight-bold" style="vertical-align: middle; width:150px;">부서</td>
                  <td style="text-align:center;"><label th:text="*{department}"></label></td>
                </tr>
                <tr>
                  <td class="text-primary font-weight-bold" style="vertical-align: middle; width:150px;">직위</td>
                  <td style="text-align:center;"><label th:text="*{position}"></label></td>
                </tr>
                <tr>
                  <td class="text-primary font-weight-bold" style="vertical-align: middle; width:150px;">계좌번호</td>
                  <td style="text-align:center;"><label th:text="*{bank}"></label></td>
                </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>

      </div>

      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <form action="" role="form" method="post" th:object="${memberPayDetailDto}" enctype="multipart/form-data">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block">

              <div class="p-52">
                <table class="table table-bordered dataTable" id="dataTable1" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                  <thead>
                  <tr>
                    <td class="font-weight-bold" colspan="2" style="text-align: center;">
                      지급 항목
                    </td>
                  </tr>
                  </thead>

                  <tbody>
                  <tr>
                    <td class="text-primary font-weight-bold" style="vertical-align: middle; width:153.21px;">기본급</td>
                    <td style="text-align:right;"><label th:text="*{salary}"></label></td>
                  </tr>
                  <tr>
                    <td class="text-primary font-weight-bold" style="vertical-align: middle;">상여금</td>
                    <td style="text-align:right;"><label th:text="*{bonus}"></label></td>
                  </tr>
                  <tr>
                    <td class="text-primary font-weight-bold" style="vertical-align: middle;">야근수당</td>
                    <td style="text-align:right;"><label th:text="*{nightPay}"></label></td>
                  </tr>
                  <tr>
                    <td class="text-primary font-weight-bold" style="vertical-align: middle;">식비</td>
                    <td style="text-align:right;"><label th:text="*{foodPay}"></label></td>
                  </tr>
                  <tr>
                    <td class="text-primary font-weight-bold" style="vertical-align: middle;">차량지원금</td>
                    <td style="text-align:right;"><label th:text="*{carPay}"></label></td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold" style="vertical-align: middle; height:64px;">-</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="font-weight-bold" style="vertical-align: middle; height:64px;">-</td>
                    <td></td>
                  </tr>
                  <tr style="height:64px;">
                    <td class="font-weight-bold" style="vertical-align: middle;">지급총액</td>
                    <td class="font-weight-bold" style="text-align:right;"><label th:text="*{plusMoney}"></label>원</td>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>

            <div class="col-lg-6" >
              <div class="p-52">
                <table class="table table-bordered dataTable" id="dataTable2" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                  <thead>
                  <tr>
                    <td class="font-weight-bold" colspan="2" style="text-align: center;">
                      공제 항목
                    </td>
                  </tr>
                  </thead>

                  <tbody>
                  <tr>
                    <td class="text-primary font-weight-bold" style="vertical-align: middle; width:153.21px;">고용보험</td>
                    <td style="text-align:right;"><label th:text="*{goInsurance}"></label></td>
                  </tr>
                  <tr>
                    <td class="text-primary font-weight-bold" style="vertical-align: middle;">건강보험</td>
                    <td style="text-align:right;"><label th:text="*{gunInsurance}"></label></td>
                  </tr>
                  <tr>
                    <td class="text-primary font-weight-bold" style="vertical-align: middle;">산재보험</td>
                    <td style="text-align:right;"><label th:text="*{sanInsurance}"></label></td>
                  </tr>
                  <tr>
                    <td class="text-primary font-weight-bold" style="vertical-align: middle;">국민연금</td>
                    <td style="text-align:right;"><label th:text="*{kukInsurance}"></label></td>
                  </tr>
                  <tr>
                    <td class="text-primary font-weight-bold" style="vertical-align: middle;">소득세</td>
                    <td style="text-align:right;"><label th:text="*{incomeTax}"></label></td>
                  </tr>
                  <tr>
                    <td class="text-primary font-weight-bold" style="vertical-align: middle;">지방소득세</td>
                    <td style="text-align:right;"><label th:text="*{localTax}"></label></td>
                  </tr>
                  <tr style="height:64px;">
                    <td class="font-weight-bold" style="vertical-align: middle;">공제총액</td>
                    <td class="font-weight-bold" style="text-align:right;"><label th:text="*{minusMoney}"></label>원</td>
                  </tr>
                  <tr style="height:64px;">
                    <td class="font-weight-bold" style="vertical-align: middle;">차감지급액</td>
                    <td class="font-weight-bold" style="text-align:right;"><label th:text="*{TotalMoney}"></label>원</td>
                  </tr>
                  </tbody>
                </table>
                <button type="submit" class="btn btn-primary btn-user btn-block" onclick="return sweetAlert(event);">
                  수정
                </button>
                <!--            보안 관련 인증 토큰을 히든 파라미터로 보내줍니다-->
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </body>
</div>
</html>