<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/sidebar}"
>
<head>
    <meta charset="utf-8"/>
    <title>실적 등록</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}"/>
    <meta th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta th:if="${_csrf}" name="_csrf_parameter" th:content="${_csrf.parameterName}"/>
</head>
<th:block layout:fragment="script">
    <script th:src="@{/js/logistics/productionForm.js}"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</th:block>
<th:block layout:fragment="css">
    <link th:href="@{/css/distributionCenter.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" herf="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.semanticui.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css" />
</th:block>

<div class="content" layout:fragment="content" id="content">
    <div id="dataTables">
        <h2 id="title">실적 등록</h2>
        <button type="button" id="btn-modal">등록</button>
        <button type="button" id="deleteBtn" onclick="deletePageN()">삭제</button>

        <table id="myTable" style="width:100%;" class="display">
            <thead>
                <tr>
                    <th><input type="checkbox" name="checkall" id="checkall"></th>
                    <th>조립라인</th>
                    <th>등록자명</th>
                    <th>제품명</th>
                    <th>수량</th>
                    <th>등록일자</th>
                </tr>
            </thead>
        </table>
        <div id="modal" class="modal-overlay">
            <div class="modal-window">
                <div class="title">
                    <h2>실적 등록</h2>
                </div>
                <div class="close-area">X</div>
                <form action="" method="post" role="form" id="myForm" name="myForm">

                    <p>작업 라인 선택<br/>
                        <select id="productionLine" name="productionLine" class="custom-select" style="width:200px;">
                            <option value="">==작업 라인 선택==</option>
                            <option th:each="dto : ${T(com.Erp.constant.ProductionLine).values()}"
                                    th:value="${dto.name()}"
                                    th:text="${dto.name()}"></option>
                        </select>
                    </p>
                    <p>제품 선택<br/>
                        <select class="form-select" name="prCode" id="prCode">
                            <option value="">==제품 선택==</option>
                            <option th:each="dto : ${productFormDtos}" th:value="${dto.prCode}"
                                    th:text="${dto.prName}"></option>
                        </select>
                    </p>
                    <p>수량<br>
                        <input name="count" id="count" type="text">
                    </p>
                    <p>창고 선택<br/>
                        <select class="form-select" name="secCode" id="secCode">
                            <option th:each="dto : ${sectionFormDtos}" th:value="${dto.secCode}"
                                    th:text="${dto.secName}"></option>
                        </select>
                    </p>
                    <p>구역 선택<br/>
                        <select class="form-select" name="SACategory" id="SACategory">
                            <option th:each="SACategory : ${T(com.Erp.constant.StackAreaCategory).values()}"
                                    th:value="${SACategory.name()}"
                                    th:text="${SACategory.name()}">
                        </select>
                    </p>
                    <button id="saveBtn" onclick="addProduction()" type="button">저장</button>
                </form>
            </div>
        </div>
    </div>
</div>
</html>