.top-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius:0.35rem 0.35rem 0 0;
  width: 250px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin: 10px 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: row; /* 수정: 가로 방향으로 나열하도록 변경 */
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #73685d;
    border-radius: .35rem;
    width: 360px;
    height: 100px;
}

.card > .left {
    flex: 1; /* 추가: 왼쪽 영역이 확장 가능하도록 설정 */
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.card > .left > .left-left,
.card > .left > .left-right {
    flex: 1; /* 추가: 왼쪽의 오른쪽 영역이 확장 가능하도록 설정 */
    padding: 10px; /* 예시: 왼쪽의 오른쪽 영역에 내용을 넣기 위해 padding 추가 */
}

.img-container {
  width: 100%;
  height: 100%;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.card > .right {
    flex: 2; /* 추가: 왼쪽 영역이 확장 가능하도록 설정 */
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.row {
  display: flex;
  flex-basis: 100%;
}

.section {
  flex-basis: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

.shadow{
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.left-section,
.right-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.text-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.text-column p {
  margin: 5px 0;
}
