<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/sidebar}"
>
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>홈페이지</title>

    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">
    <link th:href="@{/css/financial.css}" rel="stylesheet">
</head>

<th:block layout:fragment="script">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
<script th:src="@{/js/financial/financialModule/datatables.js}" type="module"></script>
<script th:src="@{/js/financial/financialModule/dataAdd.js}" type="module"></script>
<script th:src="@{/js/financial/financialModule/dataUpdate.js}"></script>
<script th:src="@{/js/financial/financialModule/tableButton.js}"></script>
</th:block>

<div class="content" layout:fragment="content">
    <h2 class="title_header">재무 상태표</h2>

    <div id="financialModal" class="modal">
        <div class="card shadow mb-4 modal-content">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary" style="display:inline; float:left;">재무 상태표 등록</h6>
                <span class="close" onclick="closeModal()" style="float:right;">x</span>
            </div>
            <div class="card-body">
                <select id="yearSelect">

                </select>
                <button id="form_add_btn" type="button">등록</button>
            </div>
        </div>
    </div>

    <div class="data-body">
        <table id="example" class="row-border">
            <thead>
            <tr>
                <th id="id">
                    재무 번호
                </th>
                <th id="quarter">
                    분기
                </th>
                <th id="cash" >
                    현금
                </th>
                <th id="cash_equivalents" >
                    현금성 예금
                </th>
                <th id="raw_mt" >
                    원자재 재고
                </th>
                <th id="product_inven" >
                    제품 재고
                </th>
                <th id="fixtures_inven" >
                    비품 재고
                </th>
                <th id="real_estate" >
                    부동산
                </th>
                <th id="equipment" >
                    장비
                </th>
                <th id="vehicles" >
                    차량
                </th>
                <th id="equity_invest" >
                    주식 투자
                </th>
                <th id="real_estate_invest" >
                    부동산 투자
                </th>
                <th id="corporate_invest" >
                    기업 투자
                </th>
                <th id="trademarks" >
                    상표권
                </th>
                <th id="licenses" >
                    라이선스
                </th>
                <th id="notes_receivable" >
                    미수금
                </th>
                <th id="deposits" >
                    예치금
                </th>
                <th id="pension_assets" >
                    연금자산
                </th>
                <th id="total_assets" >
                    총 자산
                </th>

                <th id="bank_loans" >
                    은행 대출
                </th>
                <th id="trade_credit" >
                    단기 대금 차입
                </th>
                <th id="advance_payments" >
                    선수금
                </th>
                <th id="tax_liabilities" >
                    세금 부채
                </th>
                <th id="bonds" >
                    사채
                </th>
                <th id="lt_borrow_pay" >
                    장기 차입금 부채
                </th>
                <th id="lt_deposits" >
                    장기 예치금
                </th>
                <th id="total_liabilities" >
                    총 부채
                </th>

                <th id="paid_capital" >
                    자본금
                </th>
                <th id="netIncome" >
                    당기 순이익
                </th>
                <th id="total_capital" >
                    총 자본
                </th>

                <th id="totalLiabilitiesCapital" >
                    총 부채 및 자본
                </th>
                <th id="year">
                    연도
                </th>
            </tr>
            </thead>
        </table>

        <div class="button-container">
            <button class="btn shadow" id="tableToExcel" type="button" onclick="convertFile(event)">Excel</button>
            <button class="btn shadow" id="tableToPDF" type="button" onclick="convertFile(event)">PDF</button>
            <button class="btn shadow" id="data_add_btn" type="button">추가</button>
        </div>

        <table class="data-table shadow" id="data-table" ondragstart="return false">
            <thead>
            <tr>
                <th>
                    <select id="year_select">
                    </select>
                </th>
                <th>
                    <button id="allOpenList">모두 펼치기</button>
                </th>
                <th></th>
                <th></th>
                <th>1분기</th>
                <th>2분기</th>
                <th>3분기</th>
                <th>4분기</th>
            </tr>
            </thead>
            <tbody>
            <tr class="prKey">
                <td colspan="4">재무번호</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="data_title" colspan="4">
                    <button id="assets_btn" class="btn finBtn">+</button>
                    자산
                </td>
                <td colspan="4"></td>
            </tr>
            <tr class="current_assets assets_group">
                <td></td>
                <td class="data_title" colspan="3">
                    <button id="current_assets_btn" class="btn finBtn">+</button>
                    유동 자산
                </td>
                <td class="total_current_assets quarter_1"><span></span></td>
                <td class="total_current_assets quarter_2"><span></span></td>
                <td class="total_current_assets quarter_3"><span></span></td>
                <td class="total_current_assets quarter_4"><span></span></td>
            </tr>
            <tr class="cash_equivalents current_assets_group">
                <td colspan="2"></td>
                <td class="data_title" colspan="2">
                    <button id="cash_equivalents_btn" class="btn finBtn">+</button>
                    현금 및 현금성 자산
                </td>
                <td class="total_cash_equivalents quarter_1"><span></span></td>
                <td class="total_cash_equivalents quarter_2"><span></span></td>
                <td class="total_cash_equivalents quarter_3"><span></span></td>
                <td class="total_cash_equivalents quarter_4"><span></span></td>
            </tr>
            <tr class="cash_equivalents_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="cash">현금</td>
                <td class="quarter_1 editable"><span></span></td>
                <td class="quarter_2 editable"><span></span></td>
                <td class="quarter_3 editable"><span></span></td>
                <td class="quarter_4 editable"><span></span></td>
            </tr>
            <tr class="cash_equivalents_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="cash_equivalents">현금성 예금</td>
                <td class="quarter_1 editable"><span></span></td>
                <td class="quarter_2 editable"><span></span></td>
                <td class="quarter_3 editable"><span></span></td>
                <td class="quarter_4 editable"><span></span></td>
            </tr>
            <tr class="inventory current_assets_group">
                <td colspan="2"></td>
                <td class="data_title" colspan="2">
                    <button id="inventory_btn" class="btn finBtn">+</button>
                    재고 자산
                </td>
                <td class="total_inventory quarter_1"><span></span></td>
                <td class="total_inventory quarter_2"><span></span></td>
                <td class="total_inventory quarter_3"><span></span></td>
                <td class="total_inventory quarter_4"><span></span></td>
            </tr>
            <tr class="inventory_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="raw_mt">원자재 재고</td>
                <td class="quarter_1"><span></span></td>
                <td class="quarter_2"><span></span></td>
                <td class="quarter_3"><span></span></td>
                <td class="quarter_4"><span></span></td>
            </tr>
            <tr class="inventory_group data">
                <td colspan="3"></td>
                <td class="data_title">제품 재고</td>
                <td class="quarter_1"><span></span></td>
                <td class="quarter_2"><span></span></td>
                <td class="quarter_3"><span></span></td>
                <td class="quarter_4"><span></span></td>
            </tr>
            <tr class="inventory_group data">
                <td colspan="3"></td>
                <td class="data_title">비품 재고</td>
                <td class="quarter_1"><span></span></td>
                <td class="quarter_2"><span></span></td>
                <td class="quarter_3"><span></span></td>
                <td class="quarter_4"><span></span></td>
            </tr>
            <tr class="non_current_assets assets_group">
                <td></td>
                <td class="data_title" colspan="3">
                    <button id="non_current_assets_btn" class="btn finBtn">+</button>
                    비유동 자산
                </td>
                <td class="total_non_current_assets quarter_1"><span></span></td>
                <td class="total_non_current_assets quarter_2"><span></span></td>
                <td class="total_non_current_assets quarter_3"><span></span></td>
                <td class="total_non_current_assets quarter_4"><span></span></td>
            </tr>
            <tr class="prop_pl_equip non_current_assets_group">
                <td colspan="2"></td>
                <td class="data_title" colspan="2">
                    <button id="prop_pl_equip_btn" class="btn finBtn">+</button>
                    부동산 및 장비
                </td>
                <td class="total_prop_pl_equip quarter_1"><span></span></td>
                <td class="total_prop_pl_equip quarter_2"><span></span></td>
                <td class="total_prop_pl_equip quarter_3"><span></span></td>
                <td class="total_prop_pl_equip quarter_4"><span></span></td>
            </tr>
            <tr class="prop_pl_equip_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="real_estate">부동산</td>
                <td class="quarter_1 editable"><span></span></td>
                <td class="quarter_2 editable"><span></span></td>
                <td class="quarter_3 editable"><span></span></td>
                <td class="quarter_4 editable"><span></span></td>
            </tr>
            <tr class="prop_pl_equip_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="equipment">장비</td>
                <td class="quarter_1 editable"><span></span></td>
                <td class="quarter_2 editable"><span></span></td>
                <td class="quarter_3 editable"><span></span></td>
                <td class="quarter_4 editable"><span></span></td>
            </tr>
            <tr class="prop_pl_equip_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="vehicles">차량</td>
                <td class="quarter_1 editable"><span></span></td>
                <td class="quarter_2 editable"><span></span></td>
                <td class="quarter_3 editable"><span></span></td>
                <td class="quarter_4 editable"><span></span></td>
            </tr>
            <tr class="lt_invest non_current_assets_group">
                <td colspan="2"></td>
                <td class="data_title" colspan="2">
                    <button id="lt_invest_btn" class="btn finBtn">+</button>
                    장기 투자
                </td>
                <td class="total_lt_invest quarter_1"><span></span></td>
                <td class="total_lt_invest quarter_2"><span></span></td>
                <td class="total_lt_invest quarter_3"><span></span></td>
                <td class="total_lt_invest quarter_4"><span></span></td>
            </tr>
            <tr class="lt_invest_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="equity_invest">주식 투자</td>
                <td class="quarter_1 editable"><span></span></td>
                <td class="quarter_2 editable"><span></span></td>
                <td class="quarter_3 editable"><span></span></td>
                <td class="quarter_4 editable"><span></span></td>
            </tr>
            <tr class="lt_invest_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="real_estate_invest">부동산 투자</td>
                <td class="quarter_1 editable"><span></span></td>
                <td class="quarter_2 editable"><span></span></td>
                <td class="quarter_3 editable"><span></span></td>
                <td class="quarter_4 editable"><span></span></td>
            </tr>
            <tr class="lt_invest_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="corporate_invest">기업 투자</td>
                <td class="quarter_1 editable"><span></span></td>
                <td class="quarter_2 editable"><span></span></td>
                <td class="quarter_3 editable"><span></span></td>
                <td class="quarter_4 editable"><span></span></td>
            </tr>
            <tr class="intangible_assets non_current_assets_group">
                <td colspan="2"></td>
                <td class="data_title" colspan="2">
                    <button id="intangible_assets_btn" class="btn finBtn">+</button>
                    무형 자산
                </td>
                <td class="total_intangible_assets quarter_1"><span></span></td>
                <td class="total_intangible_assets quarter_2"><span></span></td>
                <td class="total_intangible_assets quarter_3"><span></span></td>
                <td class="total_intangible_assets quarter_4"><span></span></td>
            </tr>
            <tr class="intangible_assets_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="trademarks">상표권</td>
                <td class="quarter_1 editable"><span></span></td>
                <td class="quarter_2 editable"><span></span></td>
                <td class="quarter_3 editable"><span></span></td>
                <td class="quarter_4 editable"><span></span></td>
            </tr>
            <tr class="intangible_assets_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="licenses">라이선스</td>
                <td class="quarter_1 editable"><span></span></td>
                <td class="quarter_2 editable"><span></span></td>
                <td class="quarter_3 editable"><span></span></td>
                <td class="quarter_4 editable"><span></span></td>
            </tr>
            <tr class="other_non_current_assets non_current_assets_group">
                <td colspan="2"></td>
                <td class="data_title" colspan="2">
                    <button id="other_non_current_assets_btn" class="btn finBtn">+</button>
                    기타 비유동 자산
                </td>
                <td class="total_other_non_current_assets quarter_1"><span></span></td>
                <td class="total_other_non_current_assets quarter_2"><span></span></td>
                <td class="total_other_non_current_assets quarter_3"><span></span></td>
                <td class="total_other_non_current_assets quarter_4"><span></span></td>
            </tr>
            <tr class="other_non_current_assets_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="notes_receivable">미수금</td>
                <td class="quarter_1 editable"><span></span></td>
                <td class="quarter_2 editable"><span></span></td>
                <td class="quarter_3 editable"><span></span></td>
                <td class="quarter_4 editable"><span></span></td>
            </tr>
            <tr class="other_non_current_assets_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="deposits">예치금</td>
                <td class="quarter_1 editable"><span></span></td>
                <td class="quarter_2 editable"><span></span></td>
                <td class="quarter_3 editable"><span></span></td>
                <td class="quarter_4 editable"><span></span></td>
            </tr>
            <tr class="other_non_current_assets_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="pension_assets">연금자산</td>
                <td class="quarter_1 editable"><span></span></td>
                <td class="quarter_2 editable"><span></span></td>
                <td class="quarter_3 editable"><span></span></td>
                <td class="quarter_4 editable"><span></span></td>
            </tr>
            <tr class="assets data">
                <td class="data_title" colspan="4">
                    총 자산
                </td>
                <td class="total_assets quarter_1"><span></span></td>
                <td class="total_assets quarter_2"><span></span></td>
                <td class="total_assets quarter_3"><span></span></td>
                <td class="total_assets quarter_4"><span></span></td>
            </tr>


            <tr>
                <td class="data_title" colspan="4">
                    <button id="liabilities_btn" class="btn finBtn">+</button>
                    부채
                </td>
                <td colspan="4"></td>
            </tr>
            <tr class="current_liabilities liabilities_group">
                <td></td>
                <td class="data_title" colspan="3">
                    <button id="current_liabilities_btn" class="btn finBtn">+</button>
                    유동 부채
                </td>
                <td class="total_current_liabilities quarter_1"><span></span></td>
                <td class="total_current_liabilities quarter_2"><span></span></td>
                <td class="total_current_liabilities quarter_3"><span></span></td>
                <td class="total_current_liabilities quarter_4"><span></span></td>
            </tr>
            <tr class="st_borrowings current_liabilities_group">
                <td colspan="2"></td>
                <td class="data_title" colspan="2">
                    <button id="st_borrowings_btn" class="btn finBtn">+</button>
                    단기 차입금
                </td>
                <td class="total_st_borrowings quarter_1"><span></span></td>
                <td class="total_st_borrowings quarter_2"><span></span></td>
                <td class="total_st_borrowings quarter_3"><span></span></td>
                <td class="total_st_borrowings quarter_4"><span></span></td>
            </tr>
            <tr class="st_borrowings_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="bank_loans">은행 대출</td>
                <td class="quarter_1 editable"><span></span></td>
                <td class="quarter_2 editable"><span></span></td>
                <td class="quarter_3 editable"><span></span></td>
                <td class="quarter_4 editable"><span></span></td>
            </tr>
            <tr class="st_borrowings_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="trade_credit">단기 대금 차입</td>
                <td class="quarter_1 editable"><span></span></td>
                <td class="quarter_2 editable"><span></span></td>
                <td class="quarter_3 editable"><span></span></td>
                <td class="quarter_4 editable"><span></span></td>
            </tr>
            <tr class="other_current_liabilities current_liabilities_group">
                <td colspan="2"></td>
                <td class="data_title" colspan="2">
                    <button id="other_current_liabilities_btn" class="btn finBtn">+</button>
                    기타 유동 부채
                </td>
                <td class="total_other_current_liabilities quarter_1"><span></span></td>
                <td class="total_other_current_liabilities quarter_2"><span></span></td>
                <td class="total_other_current_liabilities quarter_3"><span></span></td>
                <td class="total_other_current_liabilities quarter_4"><span></span></td>
            </tr>
            <tr class="other_current_liabilities_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="advance_payments">선수금</td>
                <td class="quarter_1 editable"><span></span></td>
                <td class="quarter_2 editable"><span></span></td>
                <td class="quarter_3 editable"><span></span></td>
                <td class="quarter_4 editable"><span></span></td>
            </tr>
            <tr class="other_current_liabilities_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="tax_liabilities">세금 부채</td>
                <td class="quarter_1 editable"><span></span></td>
                <td class="quarter_2 editable"><span></span></td>
                <td class="quarter_3 editable"><span></span></td>
                <td class="quarter_4 editable"><span></span></td>
            </tr>
            <tr class="non_current_liabilities liabilities_group">
                <td></td>
                <td class="data_title" colspan="3">
                    <button id="non_current_liabilities_btn" class="btn finBtn">+</button>
                    비유동 부채
                </td>
                <td class="total_non_current_liabilities quarter_1"><span></span></td>
                <td class="total_non_current_liabilities quarter_2"><span></span></td>
                <td class="total_non_current_liabilities quarter_3"><span></span></td>
                <td class="total_non_current_liabilities quarter_4"><span></span></td>
            </tr>
            <tr class="lt_borrowings non_current_liabilities_group">
                <td colspan="2"></td>
                <td class="data_title" colspan="2">
                    <button id="lt_borrowings_btn" class="btn finBtn">+</button>
                    장기 차입금
                </td>
                <td class="total_lt_borrowings quarter_1"><span></span></td>
                <td class="total_lt_borrowings quarter_2"><span></span></td>
                <td class="total_lt_borrowings quarter_3"><span></span></td>
                <td class="total_lt_borrowings quarter_4"><span></span></td>
            </tr>
            <tr class="lt_borrowings_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="bonds">사채</td>
                <td class="quarter_1 editable"><span></span></td>
                <td class="quarter_2 editable"><span></span></td>
                <td class="quarter_3 editable"><span></span></td>
                <td class="quarter_4 editable"><span></span></td>
            </tr>
            <tr class="lt_borrowings_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="lt_borrow_pay">장기 차입금 부채</td>
                <td class="quarter_1 editable"><span></span></td>
                <td class="quarter_2 editable"><span></span></td>
                <td class="quarter_3 editable"><span></span></td>
                <td class="quarter_4 editable"><span></span></td>
            </tr>
            <tr class="other_non_current_liabilities non_current_liabilities_group">
                <td colspan="2"></td>
                <td class="data_title" colspan="2">
                    <button id="other_non_current_liabilities_btn" class="btn finBtn">+</button>
                    기타 비유동 부채
                </td>
                <td class="total_other_non_current_liabilities quarter_1"><span></span></td>
                <td class="total_other_non_current_liabilities quarter_2"><span></span></td>
                <td class="total_other_non_current_liabilities quarter_3"><span></span></td>
                <td class="total_other_non_current_liabilities quarter_4"><span></span></td>
            </tr>
            <tr class="other_non_current_liabilities_group data">
                <td colspan="3"></td>
                <td class="data_title" aria-label="lt_deposits">장기 예치금</td>
                <td class="quarter_1 editable"><span></span></td>
                <td class="quarter_2 editable"><span></span></td>
                <td class="quarter_3 editable"><span></span></td>
                <td class="quarter_4 editable"><span></span></td>
            </tr>
            <tr class="liabilities data">
                <td class="data_title" colspan="4">
                    총 부채
                </td>
                <td class="total_liabilities quarter_1"><span></span></td>
                <td class="total_liabilities quarter_2"><span></span></td>
                <td class="total_liabilities quarter_3"><span></span></td>
                <td class="total_liabilities quarter_4"><span></span></td>
            </tr>



            <tr>
                <td class="data_title" colspan="4">
                    <button id="equity_btn" class="btn finBtn">+</button>
                    자본
                </td>
                <td colspan="4"></td>
            </tr>
            <tr class="shareholders_equity equity_group">
                <td></td>
                <td class="data_title" colspan="3">
                    <button id="shareholders_equity_btn" class="btn finBtn">+</button>
                    지배기업 주주 지분
                </td>
                <td class="total_shareholders_equity quarter_1"><span></span></td>
                <td class="total_shareholders_equity quarter_2"><span></span></td>
                <td class="total_shareholders_equity quarter_3"><span></span></td>
                <td class="total_shareholders_equity quarter_4"><span></span></td>
            </tr>
            <tr class="paid_capital shareholders_equity_group data">
                <td colspan="2"></td>
                <td class="data_title" colspan="2">자본금</td>
                <td class="total_paid_capital quarter_1"><span></span></td>
                <td class="total_paid_capital quarter_2"><span></span></td>
                <td class="total_paid_capital quarter_3"><span></span></td>
                <td class="total_paid_capital quarter_4"><span></span></td>
            </tr>
            <tr class="retained_earnings shareholders_equity_group">
                <td colspan="2"></td>
                <td class="data_title" colspan="2">
                    <button id="retained_earnings_btn" class="btn finBtn">+</button>
                    이익 재투자
                </td>
                <td class="total_retained_earnings quarter_1"><span></span></td>
                <td class="total_retained_earnings quarter_2"><span></span></td>
                <td class="total_retained_earnings quarter_3"><span></span></td>
                <td class="total_retained_earnings quarter_4"><span></span></td>
            </tr>
            <tr class="netIncome retained_earnings_group data">
                <td colspan="3"></td>
                <td class="data_title">당기 순이익</td>
                <td class="quarter_1"><span></span></td>
                <td class="quarter_2"><span></span></td>
                <td class="quarter_3"><span></span></td>
                <td class="quarter_4"><span></span></td>
            </tr>
            <tr class="equity data">
                <td class="data_title" colspan="4">
                    총 자본
                </td>
                <td class="total_equity quarter_1"><span></span></td>
                <td class="total_equity quarter_2"><span></span></td>
                <td class="total_equity quarter_3"><span></span></td>
                <td class="total_equity quarter_4"><span></span></td>
            </tr>

            <tr class="liabilities_equity data">
                <td colspan="4" class="data_title">총 부채 및 자본</td>
                <td class="total_liabilities_equity quarter_1"><b><span></span></b></td>
                <td class="total_liabilities_equity quarter_2"><b><span></span></b></td>
                <td class="total_liabilities_equity quarter_3"><b><span></span></b></td>
                <td class="total_liabilities_equity quarter_4"><b><span></span></b></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>